.area-main {
    display: flex;
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto; 
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

#lixo{
    border: 0;
    font-size: 22px;
    background-color: #ffffff;
    color: #e20c0c;
}

#lixo:hover{
    color: rgb(0, 0, 0);
}

#edit{
    font-size: 22px;
    color: #0464d0;
}

#edit:hover{
    color: #000000;
}

#titulo-page{
    display: flex;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5%;
}

table{
    width:90%;
    table-layout: fixed;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
    margin-left: 15%
}

.tbl-content{
    width: 90%;
    height:450px;
    overflow-x: auto;
    margin-top: 0px;
    margin-left: 15%;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding-top: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
}

td{ 
    padding-top: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    border-bottom: solid 1px rgb(121, 110, 110);
}
  

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}