
.area-main {
    display: flex;
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto; 
    max-width: 1250px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}



#lixo{
    border: 0;
    background-color: #ffffff;
    color: #e20c0c;
}

#lixo:hover{
    color: rgb(0, 0, 0);
}


#edit{
    color: #0464d0;
}

#edit:hover{
    color: #000000;
}

#titulo-page{
    display: flex;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5%;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* .area-linha{
    text-align: justify;
} */

.coluna th {
    background-color: #fbfdffe3;
    color: #000000;
    /* padding: 12px; */
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #838383;
}

.linhas td {
    padding: 10px;
}



.linhas:nth-child(even) {
    background-color: #f9f9f9;
}


.bi {
    font-size: 1.5rem; 
    margin-right: 10px; 
    cursor: pointer;
    transition: color 0.3s ease;
}
