.area-main {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    flex-wrap: wrap;
    /* background-color: #0464d0; */
}

a{
    text-decoration: none;
}

#lixo{
    border: 0;
    font-size: 22px;
    background-color: #ffffff;
    color: #e20c0c;
}

#lixo:hover{
    color: rgb(0, 0, 0);
}

#edit{
    font-size: 22px;
    color: #0464d0;
}

#edit:hover{
    color: #000000;
}

#titulo-page{
    display: flex;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5%;
}

#tableView{
    width: 100%;
    margin-top: 1%;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}